<div class="p-2">
    <h3><%= users_coo.first_name %> <%= users_coo.last_name %></h3>
    <p>Especialidad: <%= Profile.find(users_coo.id).speciality %></p>
    <p>Precio por sesion <strong><%= Profile.find(users_coo.id).price %>$</strong></p>
</div>