<h1>User#show</h1>
<h1>Bienvenido <%= @user.email %></h1>
<%# <%= cl_image_tag @user.photo.key, class: "border-radius-4" %>


<% if policy(@user).profile? %>
  <%= link_to "Editar perfil profesional", user_profile_path(@user) %>
    <%= link_to "nuvea cita", new_user_appointment_path(@user) %>
<% end %>