<h1>Pages#home</h1>
 <% if user_signed_in? %>
    <h1>Bienvenido <%= current_user.first_name %></h1>
  <% else %>
    <h1>Bienvenido, inicia sesión!</h1>
  <% end %>
<p>Find me in app/views/pages/home.html.erb</p>
