.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h1 {
  font-size: 30px;
  font-weight: bold;
  color: #f65c78;
  margin: 4px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product h5 {
  font-size: 16px;
  font-weight: bold;
  color: #a78a4b;
  margin: 4px;
}