
.card-appointment{
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px (0,0,0,0.8);
  margin: 20px;
}


.far{
  color: #f4f4f4;
}

.fas{
  color: #edb867;
}
  
