.navbar-lewagon {
  justify-content: space-between;
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.349);
  box-shadow: none;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
