<div class="container">
  <h2>Listado de mis Citas </h2>
  <% @appointments.each do |appointment| %>
    <% if current_user.professional?  %>
      <%= render "appointments/partials/professional-appointment-card", appointment: appointment %>
    <% else %>
      <%= render "appointments/partials/client-appointment-card", appointment: appointment %>
    <% end %>
  <% end %>
</div>
