<div class="card-group">
  <% @appointments.each do |appointment| %>
  <div class="card">
        <h2>Profesional: <strong> </strong></h2>
        </h2> <p><%= appointment.professional.first_name %></p> 
        <h2>Fecha: <strong> </strong> </h2>
        <p><%= appointment.appointment_date %></p>
        <h2>Hora: <strong> </strong> </h2>
        <p><%= appointment.start_hour %></p>
  </div>
   <%end%>
</div>
